<!---footer-->
{% load static %}

<footer class="bg-light text-dark pt-5 pv-4">
    <div class="container text-center text-med-left">
      <div class="row text-center text-md-left">
        
        <div class="col-md-3 col-lg-xl-3 mc-auto mt-3" >
          <h5 class="text-uppercase mb-4 font-weight-bold text-info"> About Us</h5>
          <hr class="mb-4">
          <p>{{ siteSettings.company_brief }}</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 know-more  mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-info">Know More</h5>
          <hr class="mb-4">
          {{ siteSettings.know_more | safe}}
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2  mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-info"> Find U</h5>
          <hr class="mb-4">
         
          {{ siteSettings.google_map | safe}}
      
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3  mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-info">let Us Help</h5>
          <hr class="mb-4">
          <p>
            <li class="fas fa-home mr-3"></li> {{siteSettings.address}}
          </p>
          <p>
            <li class="fas fa-envelope mr-3"></li> {{siteSettings.email}}
          </p>
          <p>
            <li class="fas fa-phone mr-3"></li> {{siteSettings.phone}}
          </p>
        </div>
        <hr class="row d-flex justify-content-center">
      </div>
    </div>
     <!-- Copyright -->
    <div class="text-center p-4 text-white" style="background-color: rgba(16, 25, 37, 0.822);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://Rossa.com.np/">Rossa.com.np</a>
    </div>
  <!-- Copyright -->
  </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
