{% extends 'main.html' %}

{% block content %}

<section>
  <div class="container">
    <div class="about mb-4">
      <div class="row text-center m-4">
        <div class="col-md-12 text-center">
          <h6>Know us more</h6>
          <h2 class="mb-4">About Us</h2>
          <span class="title-border"></span>
          <h1>CONSTRUCTION COMPANY IN HETAUDA SINCE 1998</h1>
          <p> Jalgale Nirman Sewa shortly named as BNS, a construction company in Hetauda,Nepal, was originally
            established in 1998 A. D. (2055 B. S.) with a sole objective of providing innovative and sustainable
            solutions to create a sustainable future for its people, customers and communities. Till the establishment
            BNS has been emerged as one of leading and reputed construction company in Nepal. It has been established
            with the aim of providing construction works services in the field of roads, highways, bridges, drainage,
            irrigation, water supply, hydropower,
            electrical transmission and distribution lines, tunnels, building and industria
          </p>

        </div>
      </div>
      <!--Parts-->
      <div class="row text-center">
        <div class="col-lg-4 my-2 py-3">
          <i class="fas fa-cubes fa-3x mb-3"></i>
          <h5 class="p-3 font-weight-bold">Pre-construction Services</h5>
          <p>Preconstruction services are services offered before actual construction begins to help plan, analyse and
            establish needs for construction.
          </p>
        </div>

        <!--end of part 1-->
        <div class="col-lg-4 my-2 py-3">
          <i class="far fa-edit fa-3x mb-3"></i>
          <h5 class="p-3 font-weight-bold">Design-Build</h5>
          <p>Design-build is a method of project delivery in which one entity - the design-build team - works under a
            single contract with the project owner to provide design
            and construction services. One entity, one contract,
            one unified flow of work from initial concept through completion. Design-build is also known as
            design/construct and single-source responsibility. .</p>
        </div>

        <!--Part 3-->
        <div class="col-lg-4 my-2 py-3">
          <i class="fas fa-th fa-3x mb-3"></i>
          <h5 class="p-3 font-weight-bold">Construction Services</h5>
          <p>To expand your market share you need the most
            comprehensive source of information on construction
            projects, period.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of About Section-->

{% endblock %}