{% extends 'main.html' %}

{% block content %}

<!--- Our PROJECTS ----->
  <section class="project py-3">
  <div class="container">
      <div class="project mb-4">
          <div class="row text-center m-4">
              <div class="col-md-12 text-center">
                <h2 class="mb-4">Our projects</h2>
                  <span class="title-border"></span>
                  <p>We have a team of talented professionals which utilizes its innovative mind and excellent ideas in providing construction services in Nepal. Our service is known for proper planning, timely execution and high reliability. Our construction services are provided by our team of design engineer, construction manager, construction engineer and project architect. They work hard to meet the diverse requirements of the customers.</p>

              </div>
        {% for project in projects %}
          <!--Parts imaage overlay-->
        <div class="row text-center">
          <div class="col-lg-4 my-2">
            <div class="projects-container"><!--box-->
              <a href="/project/{{project.id}}">
                <div class="img-content"><!--imgBx-->
                  <img src="{{project.img.url}}"alt="commerial"class="img-fluid project-img">                  
                </div>
                <div class="content">
                  <h3 class="text-uppercase text-center text-dark px-3"> {{project.name}} </h3>
                  <p class="text-dark">{{project.desc}}</p>
                </div>
              </a>
            </div>         
          </div>               
            
          <!--End of img-container over lay-->                                                        
        </div> 
        {%endfor%}   
              
          </div>
      </div>
  </div>
  </section>
<!--End of OUR projects Section-->

{% endblock %}